html, body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: inline-block;
}

.logo {
    height: 50px;
    padding: 10px;
}

ul {
    text-align: right;
  }